{% load static %}
<!Doctype html>
<head>
    <meta charset="UTF-8">
        <meta name="description" content="This is a project management website.Uploading of projects and grading takeplace on a single platform">
        <meta name="keywords" content="Project Management">
        <meta name="author" content="Ketki Chavan">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"  href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/styles.css' %}">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/fee06b6511.js" crossorigin="anonymous"></script>
</head>
<style>
    .fdb-block {
      border-bottom: 1px solid var(--light);
    }
  </style>
</head>
<script>
  var page = window.location.pathname.split('/')
  page = page[page.length - 1]

  var nav = document.querySelector('a[href="' + page + '"]')
  if (nav) {
    nav.classList.add('active')
  }
</script>

{% if user.is_authenticated %}
      
      
<nav class="navbar  sticky-top  justify-content-between" style="background-color: #5f34e2;">
  <div>
    <a href="/Tinfo/">
    <i class="fas fa-user-graduate fa-2x" style = "color : #fff"></i>
  </a>

    &nbsp;
   
  <a class="navbar-brand text-white">Hello, Prof.{{user.first_name}}</a>
  </div>

    <div class="navbar justify-content-end" >    
      <a class="btn btn-outline-light m-1" href="/logout/">LOGOUT</a>
    </div> 
</nav>
  {% endif %}
          


<body>
  {% csrf_token %}
  <div>
        
            
    <section class="fdb-block">
                <div class="container">
                  <div class="row text-center">
                    <div class="col">
                      <h1 class="text-dark">Welcome</h1>
                    </div>
                  </div>
                  </div>
                  <br>
     <div class="container">             
     <div class="row">
      <div class="col">
        <div class="row align-items-center">
          <div class="col-12 col-md-6 mb-4 mb-md-0">
            <img alt="image" class="img-fluid" src="{% static 'images/notes.jpeg' %}" width="400" height="400">
          </div>
          <div class="col-12 col-md-6 col-lg-5 ml-md-auto text-left">
            <h1>Grade Projects</h1>
            <p class="lead">
              <li>Grade the respective fields out of 5</li>
              <li>Suggest improvements for the projects</li>
              <li>Average rounded off marks will be displayed to the student</li>
            </p>
            <p><a class="btn btn-primary mt-4" href="/miniprojview/">View Projects</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
    
      
    
                  
                
              </section>
            </div>
              
            
            </div>
           
        </div>
</body>

